*{
	font-family: 'Titillium Web';
}

.search_button{
	border-radius: 20px;
	background: transparent;
	border: solid black;
	border-radius: 12px;
	color: 382C2A;
}

.search_button:hover{
	background: rgba(211,211,211,0.1);
}

.search_text{
	padding: 0px 50px;
	font-family: 'Satisfy';
	font-size: 21px;
}

.search_text_mobile{
	padding: 0px 20px;
	font-family: 'Satisfy';
}


.headerbar{
	background-image: linear-gradient(to right, #e6e9f0 0%, #eef1f5 100%);
}

.listings-jumbotron{
	padding: 30px;
}

.listings-jumbotron-text{
	text-align: center;
	font-family: Oswald;
	font-size: 50px;
}

.filter-box{
	box-shadow: 5px 0px 15px #D3D3D3;
	border-radius: 20px;
}

.filter-container{
	background-color: white;
	padding: 20px;
	box-shadow: 5px 0px 15px black;
	border-radius: 20px;
}

.listings-container{
	background-image: linear-gradient(0deg, #f5f7fa 0%, rgba(195,207,226,0.9) 100%);
	border-radius: 10px;
}

.client-satisfaction{
	position: relative;
	color: black;
	font-family: Oswald;
	background-image: linear-gradient(0deg, #f5f7fa 0%, rgba(195,207,226,0.9) 100%);
}

.universal_margin{
	margin-top: 80px;
	margin-bottom: 80px;	
}

.universal_padding{
	padding: 30px;
}


.college_list_dropdown_item{
	overflow: auto;
}

.college_list_dropdown_menu{
	height: 300px;
	overflow: auto;
}

.footer{
  background-color: #D1C4E9;
  margin:30px auto;
  padding: 20px 0px 20px 0px;
}

.contentIn{
	padding: 80px 0px;
}

.social_icons{
	border: grey solid 1px; 
	padding: 8px; 
	border-radius: 8px;
}

.carousel-dots{
	width: 1px;
}

.customer_reviews{
	max-height: 260px;
	overflow: auto;
}

.cost_text{
	color: black;
}

.cost_icon{
	color:#F54B6B;
	padding: 7px 0px;
}

.cost_item{
	padding: 7px 5px;
}

.popup-div{
	padding: 6px;
}

