.search_button{
	background: transparent;
	border: none;
	color: 382C2A;
	padding: 0.24rem;
	display: inline-block;
}

.search_text:hover{
	box-shadow: black;
	cursor: pointer;
}

.search_text_span{
	width: 100%;
	font-size: 18px;
}

.search_text{
	padding: 0px 15px;
}

.headerbar{
	/* background-image: linear-gradient(to right, #e6e9f0 0%, #eef1f5 100%); */
	background-blend-mode: transparent;
}

.listings-jumbotron{
	padding: 30px;
	height: 350px;
}

.listings-jumbotron-text{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 230px;
	font-family: Oswald;
	font-size: 50px;
}

.filter-box{
	box-shadow: 0px 0px 15px rgba(211, 211, 211, 0.8);
	border-radius: 20px;
}

.filter-container{
	background-color: white;
	padding: 20px;
	box-shadow: 5px 0px 15px black;
	border-radius: 20px;
}

.listings-container{
	background: url('/assets/images/animated/search_1.jpg') center no-repeat;
	background-size: 1000px 100%;
	border-radius: 10px;
}

.client-satisfaction{
	position: relative;
	color: black;
	font-family: Oswald;
	background-image: linear-gradient(0deg, #f5f7fa 0%, rgba(195,207,226,0.9) 100%);
}

.universal_margin{
	margin-top: 80px;
	margin-bottom: 80px;	
}

.universal_padding{
	padding: 30px;
}


.college_list_dropdown_item{
	overflow: auto;
}

.college_list_dropdown_menu{
	height: 300px;
	overflow: auto;
}

.footer{
  background-color: #D1C4E9;
  margin:30px auto;
  padding: 20px 0px 20px 0px;
}

.contentIn{
	padding: 80px 12px;
}

.social_icons{
	border: grey solid 1px; 
	padding: 8px; 
	border-radius: 8px;
}

.carousel-dots{
	width: 1px;
}

.cost_text{
	color: black;
}

.cost_icon{
	color:#F54B6B;
	padding: 7px 0px;
}

.cost_item{
	padding: 7px 5px;
}

.popup-div{
	padding: 6px;
}

.bottom_nav{
	padding: 1em 0em;
	background-color: rgba(237,237,237,0.7);
	border-radius: 12px;
}

.bottom_nav_button{
	margin: 0em 1em;
}

.navbar_brand {
	border-right: solid black thin;
}

#navbar_logo{
	margin-right: 8px;
}

.modal_checkbox{
	border-radius: 3;
	width: 16;
	height: 16;
	box-shadow: inset 0 0 0 1px rgba(16,22,26,.2), inset 0 -1px 0 rgba(16,22,26,.1);
	background-color: #f5f8fa;
	background-image: linear-gradient(180deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,0));
}

.search-modal{
	padding: 8px;
}


.details_title{
	color: #565656;
}

.details_price{
	color: #010203;
}

.details_icon{
	color: 	#211a23;
}

.details_description_text{
	font-size: 1rem;
}

.search_bar_background{
	background: white;
	padding: 1.24rem;
	height: 100px;
	width: 80%;
	position: absolute;
	left: 130px;
}

.search_bar_dropdowns{
	position: absolute;
	padding-top: 0.4rem;
	padding: 1.2rem;
	background-color: rgba(0, 0, 0, 0.89);
	z-index:1;
	border-radius: 12px;
	color: white;
}

.price_select{
	background: transparent;
	margin-top: 0.5rem;
	border-radius: 4px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0rem 1rem ;
	color: white;
}

.search_bar_button{
	width: 150px;
	margin: 1rem;
	border-radius: 50px;
}

.price_textfield{
	background: transparent;
}

.search_modal_dropdowns{
	padding-top: 0.4rem;
	padding: 1.2rem;
	background-color: rgba(0, 0, 0, 0.89);
	z-index: 1;
	border-radius: 12px;
	color: white;
}

.search_mobile_icon{
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid #A5AEDC 1px;
	border-radius: 50px;
	background-color:#2e242c;
	height: 35px;
}


@media screen and (max-width: 992px){
	.tags_list{
		display: none;
	}

	.search_bar_dropdown_price{
		position: absolute;
		right:60px;
		width: 60%;
	}

	.search_bar_background{
		display:none;
	}
}

@media screen and (min-width: 991px){
	.search_modal_price_textfields{
		display:flex;
	}

	.search_bar_price_textfields{
		display: flex;
	}
}

.search_bar_price_textfields{
	margin-top: 10px;
}

