.getTheApp .HomeAppDownloadNew__root--2Z_rf {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 72px 0 0;
  justify-content: space-evenly;
}
.getTheApp .CityDesktop__appDownloadRoot--3HYwU {
  margin-top: 48px;
}

.getTheApp
  .HomeAppDownloadNew__root--2Z_rf
  .HomeAppDownloadNew__infoWrapper--38WE7 {
  transform: scale(0.9);
  flex-basis: 50%;
  margin-top: 30px;
  padding-right: 16px;
}

@media (max-width: 991px) {
  .getTheApp
    .HomeAppDownloadNew__root--2Z_rf
    .HomeAppDownloadNew__infoWrapper--38WE7 {
    transform: scale(1);
  }

  .getTheApp
    .HomeAppDownloadNew__root--2Z_rf
    .HomeAppDownloadNew__imgDiv--1rvhH {
    display: none;
  }
}

.getTheApp .AppDownloadSmsEmail__appLinkCTA--FFDEP.xsScreen {
  display: none;
  width: 100%;
  line-height: 0.8;
  margin-top: 12px;
}

.getTheApp .AppDownloadSmsEmail__inpDiv--1N0Uc {
  margin: 40px 0 0;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
  font-size: 18px;
  line-height: 24px;
  width: 500px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid #e2e2e2;
  background-color: #fff;
}

@media (max-width: 575px) {
  .getTheApp h2.AppDownloadSmsEmail__heading--3KWbi {
    font-size: 30px;
    text-align: center;
    width: auto;
  }
  .getTheApp div.AppDownloadSmsEmail__inpDiv--1N0Uc {
    width: auto;
    margin-top: 28px;
  }

  .getTheApp p.AppDownloadSmsEmail__text--2HbWu {
    text-align: center;
  }

  .getTheApp .CityDesktop__appDownloadRoot--3HYwU {
    margin-top: 0;
  }

  .getTheApp
    .HomeAppDownloadNew__root--2Z_rf
    .HomeAppDownloadNew__infoWrapper--38WE7 {
    max-width: -webkit-fill-available;
    padding-right: 0;
  }

  .getTheApp .AppDownloadSmsEmail__appLinkCTA--FFDEP.normal {
    display: none;
  }

  .getTheApp .AppDownloadSmsEmail__appLinkCTA--FFDEP.xsScreen {
    display: block;
  }

  .getTheApp .HomeAppDownloadNew__appDownloadWrapper--1QMc8 {
    display: flex;
    align-items: center;
  }
}

.getTheApp
  .AppDownloadSmsEmail__inpDiv--1N0Uc
  .AppDownloadSmsEmail__inpSms--23iHf {
  border-left: 1px solid #e2e2e2;
}

.getTheApp .AppDownloadSmsEmail__root--1jsVv {
  position: relative;
}

.getTheApp .AppDownloadSmsEmail__heading--3KWbi {
  line-height: 48px;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  color: #000;
  width: 504px;
}

.getTheApp .AppDownloadSmsEmail__text--2HbWu {
  line-height: 26px;
  font-size: 18px;
  text-align: left;
  color: #757575;
  margin: 16px 0 0;
}

.getTheApp h1,
.getTheApp h2,
.getTheApp h3,
.getTheApp h4,
.getTheApp h5,
.getTheApp p {
  margin: 0;
}

.getTheApp
  .AppDownloadSmsEmail__inpDiv--1N0Uc
  .AppDownloadSmsEmail__countryCode--1dgRE {
  padding: 16px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.getTheApp
  .AppDownloadSmsEmail__inpDiv--1N0Uc
  .AppDownloadSmsEmail__countryCode--1dgRE
  .AppDownloadSmsEmail__countryFlag--F7DyQ {
  width: 23px;
  height: auto;
  margin-right: 5px;
}

.getTheApp
  .AppDownloadSmsEmail__inpDiv--1N0Uc
  .AppDownloadSmsEmail__inpSms--23iHf {
  border: none;
  border-left: 1px solid #e2e2e2;
}
.getTheApp
  .AppDownloadSmsEmail__inpDiv--1N0Uc
  .AppDownloadSmsEmail__inputEl--3QHvH {
  flex: 1;
  padding: 6px 14px;
  font-size: 16px;
  background: #fff;
}

.getTheApp input:focus {
  outline: none;
}

.getTheApp .AppDownloadSmsEmail__appLinkCTA--FFDEP {
  font-size: 18px;
  padding: 16px 32px;
  color: #fff;
  background: #212121;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  line-height: 1;
}

.getTheApp .HomeAppDownloadNew__appDownloadWrapper--1QMc8 {
  margin-top: 40px;
}

.getTheApp
  .HomeAppDownloadNew__appDownloadWrapper--1QMc8
  .HomeAppDownloadNew__appDownloadButton--35BY5 {
  margin-right: 16px;
}

.getTheApp
  .HomeAppDownloadNew__appDownloadWrapper--1QMc8
  .HomeAppDownloadNew__appDownloadButton--35BY5
  .HomeAppDownloadNew__imgButton--2cxd8 {
  width: 144px;
  height: 48px;
}
.getTheApp
  .HomeAppDownloadNew__appDownloadWrapper--1QMc8
  .HomeAppDownloadNew__appDownloadButton--35BY5
  .HomeAppDownloadNew__imgWrapper--3paON {
  display: inline-block;
  border-radius: 4px;
}
.getTheApp .LazyLoadImage__imageContainer--3EOU_ {
  position: relative;
}

.getTheApp .TemplateShimmer__hidden--1oL9u {
  opacity: 0;
  z-index: 0;
}
.getTheApp .TemplateShimmer__shimmer--1HNwN {
  position: absolute;
  z-index: 3;
  background: #f6f7f8;
  background-image: linear-gradient(
    90deg,
    #f6f7f8 0,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8
  );
  background-repeat: no-repeat;
  background-size: 200% 100%;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: TemplateShimmer__placeholderShimmer--3ABuG;
  animation-timing-function: linear;
}
.getTheApp .TemplateShimmer__shimmerWrapper--Py2CJ {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: opacity 0.5s ease-in-out;
}

.getTheApp .HomeAppDownloadNew__root--2Z_rf .HomeAppDownloadNew__imgDiv--1rvhH {
  flex-basis: 50%;
  max-height: 550px;
  overflow: hidden;
}

.getTheApp
  .HomeAppDownloadNew__root--2Z_rf
  .HomeAppDownloadNew__imgDiv--1rvhH
  .HomeAppDownloadNew__imageWrapper--1PYzK {
  height: 100%;
  width: 100%;
  max-width: 440px;
  float: right;
}
.getTheApp .LazyLoadImage__imageContainer--3EOU_ {
  position: relative;
}

.getTheApp
  .HomeAppDownloadNew__root--2Z_rf
  .HomeAppDownloadNew__imgDiv--1rvhH
  .HomeAppDownloadNew__imageWrapper--1PYzK
  > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}