.alignment {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBrand {
  position: absolute;
  top: 6px;
  left: 0;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.9);
}

.centerBlockMobile{
  margin: 2rem 0rem;
}

.centerBrand {
  font-size: 2em;
  color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  display: flex;
  justify-content: center;
}

.billBoard{
  width:100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/assets/images/web_bg_logo.png');
}

@media only screen and (max-width: 767px) {
  .navBrand {
    opacity: 0;
  }

  .centerBrand {
    opacity: 1;
  }

  .billBoard{
    height: 40vh;
  }

  /* .centerBlock {
    height: 76vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */
}


@media only screen and (min-width: 767px){

.billBoard {
  height: 70vh;
}

.centerBlock {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

}

.seeMore {
  margin-top: -28px;
  width: 100%;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  outline: none;
}

.seeMore:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.footer {
  width: 100%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 1em;
}

.footerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
