.alignment {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contain {
  padding: 6% 2.5%;
}

.textBlock {
  display: block;
  width: 70%;
  padding: 0 8px;
}

@media (max-width: 992px){
    .textBlock{
        width: 90%;
    }
}

.exploreShadow {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowShadow {
  box-shadow: inset 0 -20px 54px;
}
