.alignment {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contain {
}

.navBrand {
  position: absolute;
  top: 6px;
  left: 0;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.9);
}

.centerBlock {
  position: relative;
  top:220px;
}

.centerBrand {
  font-size: 2em;
  color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  display: flex;
  justify-content: center;
}

@media (max-width: 761px) {
  .navBrand {
    opacity: 0;
  }

  .centerBrand {
    opacity: 1;
  }

  .billBoard{
      background-image: url("https://www.independentmediators.co.uk/wp-content/uploads/2016/02/placeholder-image.jpg");
  }
}

.billBoard {
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #E4E4E4;
  /* background-image: url("https://www.independentmediators.co.uk/wp-content/uploads/2016/02/placeholder-image.jpg"); */
}

.seeMore {
  margin-top: -28px;
  width: 100%;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  outline: none;
}

.seeMore:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.footer {
  width: 100%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 1em;
}

.footerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
