.terms{
    margin-top: 70px;
}

.terms h1{
    font-weight: 600;
    font-size: 2.8em;
}

.terms .main-body{
    color:#53565B;
    font-size: 1.1em;
}

.terms h2{
    margin-top: 0.5em;
}

.terms .line-height-28{
    line-height: 28px;
}

.terms li{
    list-style: unset;
}

.terms ol{
    width: auto;
    margin-left: 24px;
}