body {
  margin: 0;
  font-family: Airbnb Cereal App Book;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
font-family: 'Airbnb Cereal App Book';
font-style: normal;
font-weight: normal;
src: local('Airbnb Cereal App Book'), url('/assets/fonts/AirbnbCerealBook.woff') format('woff');
}
