html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Airbnb Cereal App Book;
  background-color: rgb(245,245,245,0.6);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
font-family: 'Airbnb Cereal App Book';
font-style: normal;
font-weight: normal;
src: local('Airbnb Cereal App Book'), url('/assets/fonts/AirbnbCerealBook.woff') format('woff');
}

.getTheApp + footer {
  position: absolute;
  bottom: 0;
}

.partner-website + footer{
  display: none;
}